.prompt {
    width: calc(80px * 4);
    height: 100px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:flex-end;
    
}

#prompted {
    color:rgb(85, 85, 85);
    font-size:20px;
    margin:4px 30px 4px 4px;
}

#result {
    font-size:40px;
    margin:0px 30px 0px 4px;
}

.buttonscontainer {
    display:flex;
    flex-wrap:wrap;
    width: calc(80px * 4);
    height: calc(80px * 5); 
    margin: 0 auto;
    border-top:1px solid grey;

}

.numberbuttons,
.operatorsbuttons {
    width:60px;
    height:60px;
    margin:10px;
    padding:0;
    background-color:white;
    font-size:32px;
    border-radius:100px;
}

button {
    border:0;
}
button:hover {
    filter: brightness(90%);
}

.operatorsbuttons {
    color:orange;
}

#equal {
    color:white;
    background-color:orange;
}

#erase {
    font-size:22px;
}

