/* .game {
    display:none;
} */


body,
p {
    margin:0;
    padding:0;
    background-color:aquamarine;
} 

#title {
    display:flex;
    justify-content:center;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    margin-bottom:32px;
    padding:32px;
    background-color:rgb(79, 207, 165);
}

.buttonsContainer {
    display:flex;
    flex-direction:row;
    gap:20px;
    justify-content:center;
    margin: 0 auto;
    margin-bottom:32px;
}

/* .gamebuttons {
    padding:80px;
    border:4px solid darkblue;
    border-radius:16px;
} */

.score {
    display:flex;
    gap:24px;
    justify-content:center;
    margin-left:-14px;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
}

.para {
    margin:4px 0px 4px 0px;
}

.choice {
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom:32px;
}

#rock {
    background-image: url('./images/rock.png');
    
}